# Please include in ~/.bashrc the following line (without the #):
#   source /path/to/swasr.rc

DIR=~/svn/swasr

# SWAG's QLDX
export QLDX=$DIR/opt/QLDX
export PATH=$PATH:$QLDX/bin
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/ql.jar
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/lsedit.jar
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/java_readline.jar
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$QLDX/lib/ld

# RGL: Ruby Graph Library
export RUBYLIB=$RUBYLIB:$DIR/opt/rgl-0.4.0/lib:$DIR/opt/stream-0.5/lib

# IGraph (Ruby) -- depends on libigraph
export RUBYLIB=$RUBYLIB:$DIR/opt/igraph-0.9.5/ext
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/igraph-0.9.5/ext

# Hpricot (Ruby XML Parser)
export RUBYLIB=$RUBYLIB:$DIR/opt/hpricot
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/hpricot

# RandomR
export RUBYLIB=$RUBYLIB:$DIR/opt/randomr-0-1-1/lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/randomr-0-1-1/lib

# Ruby/GD2 (for graphics)
export RUBYLIB=$RUBYLIB:$DIR/opt/gd2
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/gd2

# Benchmark (Lancichinetti et al, 2008)
export PATH=$PATH:$DIR/opt/models

# RSRuby (R) -- depends on r-base
export R_HOME=`R cmd BATCH RHOME 2> /dev/null`
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$R_HOME/lib
export RUBYLIB=$RUBYLIB:$DIR/opt/rsruby-0.5/lib

# Choice (for command-line options parsing)
export RUBYLIB=$RUBYLIB:$DIR/opt/choice-0.1.3/lib

# DepFinder
export DEPENDENCYFINDER_HOME=$DIR/opt/DependencyFinder-1.2.1-beta1
export DEPENDENCYFINDER_OPTS=-Xmx512m
export PATH=$DEPENDENCYFINDER_HOME/bin:$PATH

# mfinder
export PATH=$PATH:$DIR/opt/mfinder1.2

# FANMOD
export PATH=$PATH:$DIR/opt/fanmod
export PATH=$PATH:$DIR/opt/randesu

# bunch
export CLASSPATH=$CLASSPATH:$DIR/opt/clustering/bunch/bunch.jar:$DIR/opt/clustering/bunch

# swasr
export PATH=$PATH:$DIR/sandbox
export RUBYLIB=$RUBYLIB:$DIR/sandbox
export PATH=$PATH:$DIR/src
export RUBYLIB=$RUBYLIB:$DIR/src
export PATH=$PATH:$DIR/bin
export PATH=$PATH:$DIR/opt/bin
export RUBYLIB=$RUBYLIB:$DIR/bin
export CLASSPATH=$CLASSPATH:$DIR/java/SwasrConformance/bin
export CLASSPATH=$CLASSPATH:$DIR/opt/clustering:$DIR/opt/clustering/mojo
