# Please include in ~/.bashrc the following line
# source /path/to/swasr.rc

DIR=~/svn/swasr

# SWAG's QLDX
export QLDX=$DIR/opt/QLDX
export PATH=$PATH:$QLDX/bin
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/ql.jar
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/lsedit.jar
export CLASSPATH=$CLASSPATH:$QLDX/lib/jar/java_readline.jar
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$QLDX/lib/ld

# RGL: Ruby Graph Library
export RUBYLIB=$RUBYLIB:$DIR/opt/rgl/lib:$DIR/opt/stream/lib

# IGraph (Ruby) -- depends on libigraph
export RUBYLIB=$RUBYLIB:$DIR/opt/igraph/ext
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/igraph/ext

# RandomR
export RUBYLIB=$RUBYLIB:$DIR/opt/randomr/lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DIR/opt/randomr/lib

# PNG
export RUBYLIB=$RUBYLIB:$DIR/opt/png/lib

# RSRuby (R) -- depends on r-base
export R_HOME=`R cmd BATCH RHOME 2> /dev/null`
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$R_HOME/lib
export RUBYLIB=$RUBYLIB:$DIR/opt/rsruby/lib

# swasr
export PATH=$PATH:$DIR/sandbox
export RUBYLIB=$RUBYLIB:$DIR/sandbox
export PATH=$PATH:$DIR/src
export RUBYLIB=$RUBYLIB:$DIR/src
export PATH=$PATH:$DIR/bin
